.orders-content{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.my-orders-not-logged-in{
    height: 100vh;
    width: 100%;
    margin: 101px;
}

.my-orders-logged-in{
    margin: 101px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.my-orders-list{
    display: flex;
    flex-direction: column;
}

.my-orders-head{
    display: flex;
    flex-direction: column;
}

.my-orders-head button{
    margin-top: 50px;
}

.my-orders-head div{
    position: relative;
    height: 24px; 
    margin-top: 10px; 
    margin-bottom: 10px;
}

.filter-icon{
    position: absolute;
    right: 0;
    width: 24px; 
    height: 24px;
}
.orders{
    border: 1px solid;
    border-color: var(--color-secondary-grey15) var(--color-main-wihite) 
                    var(--color-main-wihite) var(--color-main-wihite);
    box-sizing: border-box;
}

.my-orders-assists{
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.my-orders-assists-interection{
    display: flex;
    gap: 32px;
    width: 333px;
    height: 109px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 60px 0px rgba(33, 33, 33, 0.12);
    margin-bottom: 30px;
}
.my-orders-assists-interection img{
    width: 71px;
    height: 71px;
}
.my-orders-assists-interection div{
    width: 176px;
}

.my-orders-assists-questions{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.my-orders-assists-questions div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}