@import '../../index.css';
.navigation-content{
    padding-bottom: 10px;
    padding-top: 20px;
    margin-left: 101px;
    margin-right: 101px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid;
    border-color: var(--color-main-wihite) var(--color-main-wihite) var(--color-secondary-grey15) var(--color-main-wihite);
}

.navigation-site-logo-cities{
    display: flex;
    align-items: center;
    gap: 50px;
}

.site-logo{
    width: 234.084px;
    height: 30px;
    background: url("../../img/логотип\ починим\ ру.png") no-repeat left;
}

.navigation-orders-forum-masters-search-users{
    display: flex;
    align-items: center;
    gap: 50px;
}

.users{
    color: var(--color-main-blue);
    font-family: "SF Pro Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}