@import'../../index.css';
.Popup{
    position: fixed;
    top: 50px;
    left: 25%;
    width: 1039px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 10px;
    background-color: var(--color-main-wihite);
    border-radius: 20px;
    box-shadow: 0px 4px 39px 2px rgba(28, 28, 28, 0.10);
}

.info-popup{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content:space-around;
    width: fit-content;
    height: fit-content;
}

.icon-popup{
    width: 23px;
    height: 23px;
    background: url("../../img/icons.png") no-repeat center;
}

.Popup button{
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 60px;
    background: var(--color-main-blue);
    color: var(--color-main-wihite);
}