.order-content{
    width: 100%;
    padding: 101px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.order-chats{
    margin-top: 50px;
    border: 1px solid;
    display: flex;
    justify-content: center;
}

.order-review{
    border: 1px solid;
    display: flex;
    justify-content: center;
}