.creatTopicWithAccess{
    width: 1920px;
    height: max-content;
    margin: 0 auto;
    padding: 0 auto;
    background: white;
}

.creatTopicWithOutAccess{
    width: 1920px;
    height: fit-content;
    margin: 0 auto;
    padding: 0 auto;
    background: gray;
}

.content{
    display: flex;
    gap: 200px;
}

.left-content{
    border-style: solid;
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-content{
    border-style: solid;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.control-buttons{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}