.mainPage{
    max-width: 1920px;
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
    background: #2163C9;
}

.whiteCover{
    background: #FFF;
    border-color: #FFF;
    border-style: solid;
    border-radius: 0px 0px 40px 40px;
}

.whiteCoverEnd{
    background: #FFF;
    border-color: #FFF;
    border-style: solid;
    border-radius: 40px 40px 0px 0px;
}

.title{
    width: 1025px;
    height: 358px;
    display: flex;
    flex-direction: column;

    margin-top: 74px;
    margin-left: 100px;
}

.title a[name="title-a1"]{
    color: #0B4BB0;
    font-family: "SF Pro Display";
    font-size: 110px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title a{
    color: #1C1C1C;
    font-family: "SF Pro Display";
    font-size: 110px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.out-search{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.inner-search{
    display: flex;
    flex-direction: column;
}

.searchLine{
    display: flex;
    flex-direction: row;
}

.searchInput{
    width: 1502px;
    padding: 25px;
    gap: 10px;
    border-radius: 100px;
    background: rgba(28, 28, 28, 0.05);
    border-color: rgba(28, 28, 28, 0.05);
}

.searchButton{
    margin-left: 20px;
    width: 198px;
    height: 79px;
    gap: 10px;
    border-radius: 78px;
    background: #2163C9;
    border-color: #2163C9;
}

.hints{
    margin-top: 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.hint{
    border-radius: 54px;
    height: 53px;
    padding: 20px 30px;
    background: #F3F3F3;
    border-color: #F3F3F3;
}

.aboutUs{
    display: flex;
    justify-content:space-between;
    margin-top: 150px;
    padding-bottom: 150px;
}

.left-aboutUs{
    display: flex;
    flex-direction: column;
}

.buttonMore{
    height: 50px;
    padding: 10px 15px;
    border-radius: 47px;
    background: #F3F3F3;
    border-color: #F3F3F3;
    margin-left: 100px;
}

.mainaaboutUs{
    width: 1057px;

    color: #1C1C1C;
    font-family: "SF Pro Display";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%; /* 67.2px *//* 70.4px */
    text-indent: 97px;
}

.states{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.states h1{
    color: #0B4BB0;
    font-family: "SF Pro Display";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 105.6px */
    margin-top: 10px;
}

.states a{
    color: rgba(28, 28, 28, 0.50);

    text-align: center;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%; /* 16.8px */

    margin-top: -60px;
}
    

.state{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutService{
    margin-top: 150px;
}

.howTo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 73px;
}

.steps{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    cursor: grab;
    margin-right: 20px;
}

.inner-steps{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.itemStep{
    display: flex;
    flex-direction: column;
    border-color: #3A76D8;
    border-style: solid;
    border-radius: 20px;
    background: #3A76D8;
    min-width: 570px;
    min-height: 679px;
}

.annotation{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

.wordsOfAnnotation{
    color: #FFF;
    font-family: "SF Pro Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%; /* 50.4px */
    letter-spacing: -0.48px;

    width: 477px;
    margin-right: 483px;
}

.containerForProgressOfAnnotation{
    display: flex;
    justify-content: center;
}

.progressOfAnnotation{
    width: 614px;
    height: 10px;
    border-radius: 40px;
    background: #F5F5F5;
    border-left-color: #F5F5F5;
}

.services{
    margin-top: 134px;
}

.listOfServices{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.50);
    border-bottom: #000;
    border-left: #000;
    border-right: #000;
    margin-left: 101px;
    margin-right: 101px;
}

.service{
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.50);
    border-top: #000;
    border-left: #000;
    border-right: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.mainBranchService{
    margin: 30px;
    display: flex;
    color: #FFF;
    font-family: "SF Pro Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 52.8px */
}

.subBranchesService{
    display: flexbox;
    margin-right: 153px;
    width: 704px;
}

.listOfBranches{
    color: #2163C9;
    border-style: solid;
    border-radius: 42px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #DDEAFF;
    border-color: #DDEAFF;
}

.allservicesHRef{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #FFF;

    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 26.4px */
    text-decoration-line: underline;
}

.reviews{
    margin-top: 150px;
    padding-bottom: 150px;
}

.carousel{
    cursor: grab;
    overflow: hidden;
    margin-top: 40px;
}
.inner-carousel{
    display: flex;
    gap: 20px;
}

.item{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    background: #3973D0;
    min-width: 432px;
    min-height: 351px;
    border-style: solid;
    border-color: #3973D0;
}

.itemsReview{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 10px;
}

.itemsReview h1{
    color: #FFF;

    font-family: "SF Pro Display";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 30.8px */
}

.itemsReview p{
    margin-top: -10px;
    color: #FFF;

    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
}

.itemsReview a{
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 27.6px */
}

.itemsMaster{
    display: flex;
}

.photoMaster{
    width: 77px;
    height: 77px;
    border-radius: 38.5px;
    background-color: #666;
}
.aboutMaster{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 5px;
    gap: 5px;
    color: #FFF;

    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
}

.forum{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.rightPartOfForum{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mainaOfForum{
    color: #1C1C1C;

    font-family: "SF Pro Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%; /* 50.4px */
    max-width: 1003px;
    height: 211px;
    text-indent: 207px;
    margin-right: 164px;
}

.digitalPartOfForum{
    width: 1003px;
    display: flex;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 550px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 60px;
    border-radius: 27px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px white;
    background-color: #2063CC;
}

.card > .row {
    color: #FFF;
    margin: 30px;
}
.card > .row > .description {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 180px;
    width: 415px;;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
    margin-bottom: -40px;
}

.description p {
    margin-top: -60px;
    width: 400px;
    color: #FFF;
}

.description h4 {
    color: #FFF;
    font-family: "SF Pro Display";
    font-size: 44px;
    text-transform: uppercase;
}

input[name="slide"] {
    display: none;
}

input[name="slide"]:checked + label {
    width: 400px;
}

input[name="slide"]:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
}
.card[for="c2"] {
}
.card[for="c3"] {
}
.card[for="c4"] {
}

.shaker{
    border-style:solid;
    display: flex;
    width: 414px;
    height: 549px;
    border-radius: 27px;
    background: #2063CC;
    border-color: #2063CC;
}

.shaker a{
    width: max-content;
    height: max-content;
    background-color:rgba(33, 33, 33, 0.50);
    border-style:none;
    border-color: rgba(33, 33, 33, 0.50);
    border-radius: 0%;

}