@import '../../../index.css';
.user-profile{
    background-color: white;
    width: 1920px;
    height: fit-content;
    padding:0 auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.socials{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social{
    display: flex;
    justify-content: space-between;
}