@import'../../../index.css';

.main-page-content{
    background: var(--color-main-violet);
    display: flex;
    flex-direction: column;
}

.white-cover-end{
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding: 101px;
    background: var(--color-main-wihite);
    border-style: 1px solid var(--color-main-wihite);
    border-radius: 0px 0px 40px 40px;
}

.white-cover-start{
    background: var(--color-main-wihite);
    border-style: 1px solid var(--color-main-wihite);
    border-radius: 40px 40px 0px 0px;
}

.title{
    width: 1025px;
    height: 358px;
    display: flex;
    flex-direction: column;
}

.title h1{
    color: var(--color-main-blue);
    font-size: 110px;

}

.title h2{
    color: var(--color-main-black);
    font-size: 110px;
}

.sub-title{
    max-width: 1057px;
    color: var(--color-main-black);
    font-size: 64px;
}

.main-page-search{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.main-page-search-input{
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    font-size: 30px;
}

.searchButton{
    width: fit-content;
    height: fit-content;
    padding: 10px 50px;
    border-radius: 78px;
    color: var(--color-main-wihite);
    background: var(--color-main-blue);
    border-color: var(--color-main-blue);
}

.inner-Button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-main-wihite);

    /* Text/кнопка */
    font-family: "SF Pro Display";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 17.6px */
}

.hints{
    margin-top: 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.hint{
    padding: 15px;
    border-radius: 54px;
    background: var(--color-secondary-grey-dies);
    border-style: solid;
    border-color: var(--color-secondary-grey-dies);

    color: var(--color-main-black);

    /* Text/наборный текст 3 */
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 27.6px */
}

.aboutUs{
    display: flex;
    justify-content:space-between;
}

.left-aboutUs{
    display: flex;
    flex-direction: column;
}

.icon-aboutUs{
    background: url("../../../img/Arrow_34__1.png") no-repeat center;
    margin-top: 71px;
    margin-left: 79px;
    width: 132px;
    height: 204px;
}

.right-aboutUs{
    display: flex;
    flex-direction: column;
    width: 1057px;
}

.buttonMore{
    width:fit-content;
    height: fit-content;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 47px;
    background: var(--color-secondary-grey-dies);
    border-style: solid;
    border-color: var(--color-secondary-grey-dies);
    color: var(--color-main-black);

    font-size: 24px;
}

.about-us-states{
    display: flex;
    gap: 100px;
}

.about-us-state{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.about-us-state h1{
    color: var(--color-main-blue);
    font-size: 96px;
    font-weight: 400;
}

.about-us-state p{
    color: var(--color-secondary-grey50);
    max-width: 160px;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%; /* 16.8px */

}
    
.aboutService{
    margin-top: 150px;
    padding-left: 101px;
    padding-right: 101px;
}

.howTo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 73px;
}

.steps{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    margin-right: 20px;
    width: 960px;
}

.inner-steps{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.itemStep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-secondary-violet-cards);
    border-radius: 20px;
    background: var(--color-secondary-violet-cards);
    min-width: 570px;
    min-height: 679px;
}

.annotation{
    width: 960px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

.icon-Service{
    background: url("../../../img/PM13_4.png") no-repeat center;
    margin-left: 263px;
    width: 132px;
    height: 204px;
}

.annotation p{
    color: var(--color-main-wihite);
    font-size: 48px;
}

.containerForProgressOfAnnotation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--color-main-wihite);
}

.services{
    margin-top: 150px;
    padding-left: 101px;
    padding-right: 101px;
}

.listOfServices{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border: 1px solid var(--color-main-wihite);
    border-bottom: #000;
    border-left: #000;
    border-right: #000;
}

.service{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
    border: 1px solid var(--color-main-wihite);
    border-top: #000;
    border-left: #000;
    border-right: #000;
}

.mainBranchService{
    display: flex;
    color: var(--color-main-wihite);
    font-size: 18px;
    width: 960px;
}

.subBranchesService{
    max-width: 960px;
    display: flexbox;
}

.listOfBranches{
    color: var(--color-main-wihite);
    border-style: solid;
    border-width: thin;
    border-radius: 42px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: var(--color-main-violet);
    border-color: var(--color-main-wihite);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--color-main-wihite);
    font-size: 20px;
}

.allservicesHRef{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: var(--color-main-wihite);
    
    font-size: 24px;
    text-decoration-line: underline;
}

.reviews-carousel{
    margin-top: 150px;
    padding-bottom: 150px;
    padding-left: 101px;
    padding-right: 101px;
}

.carousel{
    cursor: grab;
    overflow: hidden;
    margin-top: 40px;
}
.inner-carousel{
    display: flex;
    gap: 20px;
}

.item{
    box-sizing: border-box;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    background: var(--color-secondary-violet-cards_2);
    min-width: 615px;
    min-height: 533px;
    border-style: solid;    
    border-color: var(--color-secondary-violet-cards_2);
}

.itemsReview{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.itemsReview h1{
    color: var(--color-main-wihite);

    /* Headline/H5 */
    font-family: "SF Pro Display";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 30.8px */
}

.a3{
    color: var(--color-main-wihite);

    /* Text/наборный текст 1 */
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
}

.a4{
    margin-top: 40px;
    color: var(--color-main-wihite);

    /* Headline/H2 */
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 26.4px */
}

.a5{
    margin-top: 40px;
    color: var(--color-main-wihite);

    /* Text/наборный текст 3 */
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 27.6px */
}

.a6{
    margin-top: 15px;
    color: var(--color-main-wihite);

    /* Text/наборный текст 1 */
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
}

.itemsMaster{
    display: flex;
    gap: 15px;
    align-items: center;
}

.photoMaster{
    width: 77px;
    height: 77px;
    border-radius: 38.5px;
    background-color: #666;
}
.aboutMaster{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:  var(--color-main-wihite);

    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
}

.forum{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    padding-left: 101px;
    padding-right: 101px;
    padding-bottom: 101px;
}

.left-PartOfForum{
    display: flex;
    flex-direction: column;
}

.icon-Forum{
    background: url("../../../img/ARROW\ 1.png") no-repeat center;
    margin-top: 93px;
    margin-left: 101px;
    width: 368px;
    height: 256px;
    height: 256px;
}

.right-PartOfForum{
    display: flex;
    flex-direction: column;
    width: 1057px;
}

.mainOfForum{ 
    color: var(--color-main-black);
    
    font-family: "SF Pro Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%; /* 50.4px */
    max-width: 1003px;
    height: 211px;
}

.digitalPartOfForum{
    width: 1003px;
    display: flex;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 550px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.card {
    width: 60px;
    border-radius: 27px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px white;
    background-color: var(--color-main-violet);
}

.card > .row {
    color: var(--color-main-wihite);
    height: 100%;
    width: 100%;
    margin: 20px;
    padding-left: 30px;
}

.card > .row > button{
    opacity: 0;
    width: fit-content;
    height: fit-content;
    padding: 0px 10px;
    border-radius: 46px;
    background: var(--color-secondary-violet-dies);
    border: solid 1px var(--color-secondary-violet-dies);
}

.card > .row > .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}
.card > .row > .description h1{
    font-size: 96px;
}

.card > .row > .description p{
    font-size: 20px;
}

input[name="slide"] {
    display: none;
}

input[name="slide"]:checked + label {
    width: 400px;
}

input[name="slide"]:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

input[name="slide"]:checked + label button {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
}
.card[for="c2"] {
}
.card[for="c3"] {
}
.card[for="c4"] {
}

.shaker{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 400px;
    height: 549px;
    border-radius: 27px;
    border-style: 1px solid var(--color-main-violet);
    background: var(--color-main-violet);
    gap: 10px;
}

.shaker p{
    width: fit-content;
    height: fit-content;
    border-radius: 47px;
    background: var(--color-main-wihite);
    border: solid 1px var(--color-main-wihite);
    padding: 0px 10px;
}