@import'../../../index.css';
.mainPage{
    max-width: 1920px;
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
    background: var(--color-main-violet);
}

.whiteCover{
    background: var(--color-main-wihite);
    border-color: var(--color-main-wihite);
    border-style: solid;
    border-radius: 0px 0px 40px 40px;
}

.whiteCoverEnd{
    background: var(--color-main-wihite);
    border-color: var(--color-main-wihite);
    border-style: solid;
    border-radius: 40px 40px 0px 0px;
}

.title{
    width: 1025px;
    height: 358px;
    display: flex;
    flex-direction: column;

    margin-top: 74px;
    margin-left: 100px;
}

.title a[name="title-a1"]{
    color: var(--color-main-blue);
    
    font-family: "SF Pro Display";
    font-size: 110px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

.title a{
    color: #1C1C1C;
    color: var(--color-main-black);

    /* Headline/H1 */
    font-family: "SF Pro Display";
    font-size: 110px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 121px */
}
.out-search{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.inner-search{
    display: flex;
    flex-direction: column;
}

.searchLine{
    display: flex;
    flex-direction: row;
}

.searchInput{
    width: 1502px;
    border-radius: 100px;
    background: var(--color-secondary-grey-searchline);
    border-style: solid;
    border-color: var(--color-secondary-grey-searchline);
    box-sizing: border-box;
    padding-left: 25px;
    color: var( --color-secondary-grey30);
    /* Text/наборный текст 3 */
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 27.6px */
}


.searchButton{
    margin-left: 20px;
    width: 198px;
    height: 79px;
    border-radius: 78px;
    color: var(--color-main-wihite);
    background: var(--color-main-blue);
    border-color: var(--color-main-blue);
}

.inner-Button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-main-wihite);

    /* Text/кнопка */
    font-family: "SF Pro Display";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 17.6px */
}

.hints{
    margin-top: 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.hint{
    padding: 15px;
    border-radius: 54px;
    background: var(--color-secondary-grey-dies);
    border-style: solid;
    border-color: var(--color-secondary-grey-dies);

    color: var(--color-main-black);

    /* Text/наборный текст 3 */
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 27.6px */
}

.aboutUs{
    display: flex;
    justify-content:space-between;
    margin-top: 150px;
    padding-bottom: 150px;
}

.left-aboutUs{
    display: flex;
    flex-direction: column;
}

.icon-aboutUs{
    background: url("../../../img/Arrow_34__1.png") no-repeat center;
    margin-top: 93px;
    margin-left: 263px;
    width: 132px;
    height: 204px;
}

.right-aboutUs{
    display: flex;
    flex-direction: column;
    width: 1057px;
}

.buttonMore{
    width:fit-content;
    height: fit-content;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 47px;
    background: var(--color-secondary-grey-dies);
    border-style: solid;
    border-color: var(--color-secondary-grey-dies);
    margin-left: 100px;
    color: var(--color-main-black);

    /* Headline/H2 */
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 26.4px */
}

.a1{
    max-width: 1057px;
    color: var(--color-main-black);
    font-family: "SF Pro Display";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%; /* 67.2px *//* 70.4px */
    text-indent: 97px;
}

.states{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.states h1{
    color: var(--color-main-blue);
    font-family: "SF Pro Display";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 105.6px */
    margin-top: 10px;
}

.states a{
    color: var(--color-secondary-grey50);
    max-width: 160px;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%; /* 16.8px */

    margin-top: -60px;
}
    

.state{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutService{
    margin-top: 150px;
}

.howTo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 73px;
}

.steps{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    cursor: grab;
    margin-right: 20px;
    width: 960px;
}

.inner-steps{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.itemStep{
    display: flex;
    flex-direction: column;
    border-color: var(--color-secondary-violet-cards);
    border-style: solid;
    border-radius: 20px;
    background: var(--color-secondary-violet-cards);
    min-width: 570px;
    min-height: 679px;
}

.annotation{
    width: 960px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

.icon-Service{
    background: url("../../../img/PM13_4.png") no-repeat center;
    margin-left: 263px;
    width: 132px;
    height: 204px;
}

.annotation a{
    color: #FFF;
    font-family: "SF Pro Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%; /* 50.4px */
    letter-spacing: -0.48px;

}

.containerForProgressOfAnnotation{
    display: flex;
    justify-content: center;
}

.containerForProgressOfAnnotation progress{
    width: 614px;
    height: 10px;
}

.services{
    margin-top: 134px;
}

.listOfServices{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border-style: solid;
    border-width: thin;
    border-color: var(--color-main-wihite);
    border-bottom: #000;
    border-left: #000;
    border-right: #000;
    margin-left: 101px;
    margin-right: 101px;
}

.service{
    border-style: solid;
    border-color: var(--color-main-wihite);
    border-width: thin;
    border-top: #000;
    border-left: #000;
    border-right: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainBranchService{
    margin: 30px;
    display: flex;
    color: var(--color-main-wihite);
    font-family: "SF Pro Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 52.8px */
    width: 960px;
}

.subBranchesService{
    width: 960px;
    margin-top: 30px;
    display: flexbox;
}

.listOfBranches{
    color: var(--color-main-wihite);
    border-style: solid;
    border-width: thin;
    border-radius: 42px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: var(--color-main-violet);
    border-color: var(--color-main-wihite);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--color-main-wihite);

    /* Text/наборный текст 2 */
    font-family: "SF Pro Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 22px */
}

.allservicesHRef{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: var(--color-main-wihite);
    
    /* Text/ссылка */
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 26.4px */
    text-decoration-line: underline;
}

.reviews-carousel{
    margin-top: 150px;
    padding-bottom: 150px;
}

.carousel{
    cursor: grab;
    overflow: hidden;
    margin-top: 40px;
}
.inner-carousel{
    display: flex;
    gap: 20px;
}

.item{
    box-sizing: border-box;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    background: var(--color-secondary-violet-cards_2);
    min-width: 615px;
    min-height: 533px;
    border-style: solid;    
    border-color: var(--color-secondary-violet-cards_2);
}

.itemsReview{
    display: flex;
    flex-direction: column;
}

.itemsReview h1{
    color: var(--color-main-wihite);

    /* Headline/H5 */
    font-family: "SF Pro Display";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 30.8px */
}

.a3{
    color: var(--color-main-wihite);

    /* Text/наборный текст 1 */
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
}

.a4{
    margin-top: 40px;
    color: var(--color-main-wihite);

    /* Headline/H2 */
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 26.4px */
}

.a5{
    margin-top: 40px;
    color: var(--color-main-wihite);

    /* Text/наборный текст 3 */
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 27.6px */
}

.a6{
    margin-top: 15px;
    color: var(--color-main-wihite);

    /* Text/наборный текст 1 */
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
}

.itemsMaster{
    display: flex;
    gap: 15px;
    align-items: center;
}

.photoMaster{
    width: 77px;
    height: 77px;
    border-radius: 38.5px;
    background-color: #666;
}
.aboutMaster{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:  var(--color-main-wihite);

    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
}

.forum{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.left-PartOfForum{
    display: flex;
    flex-direction: column;
}

.icon-Forum{
    background: url("../../../img/ARROW\ 1.png") no-repeat center;
    margin-top: 93px;
    margin-left: 101px;
    width: 368px;
    height: 256px;
    height: 256px;
}

.right-PartOfForum{
    display: flex;
    flex-direction: column;
    width: 1057px;
}

.mainOfForum{ 
    color: var(--color-main-black);
    
    font-family: "SF Pro Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%; /* 50.4px */
    max-width: 1003px;
    height: 211px;
}

.digitalPartOfForum{
    width: 1003px;
    display: flex;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 550px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.card {
    width: 60px;
    border-radius: 27px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px white;
    background-color: var(--color-main-violet);
}

.card > .row {
    color: var(--color-main-wihite);
    margin: 30px;
}
.card > .row > .description {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 180px;
    width: 415px;;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
    margin-bottom: -40px;
}

.description p {
    margin-top: -60px;
    width: 400px;
    color: var(--color-main-wihite);
}

.description h4 {
    color: var(--color-main-wihite);
    font-family: "SF Pro Display";
    font-size: 44px;
    text-transform: uppercase;
}

input[name="slide"] {
    display: none;
}

input[name="slide"]:checked + label {
    width: 400px;
}

input[name="slide"]:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
}
.card[for="c2"] {
}
.card[for="c3"] {
}
.card[for="c4"] {
}

.shaker{
    border-style:solid;
    display: flex;
    width: 400px;
    height: 549px;
    border-radius: 27px;
    background: var(--color-main-violet);
    border-color: var(--color-main-violet);
}

.shaker a{
    width: max-content;
    height: max-content;
    background-color: var(--color-main-wihite);
    border-style:none;
    border-color: var(--color-main-wihite);
    border-radius: 20px;
    display: flex;
    justify-self: center;
    align-self: center;
}