@import'../../index.css';

.button-grey{
    display: flex;
    width: fit-content;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 46px;
    background: var(--color-secondary-grey-dies);
    border: solid 1px var(--color-secondary-grey-dies);
}

.go-back-button{
    width: fit-content;
    display: flex;
    align-items: baseline;
    justify-items: center;
}

.back-icon{
    width: 18px;
    height: 18px;
    background: url("../../img/arrow-left-black.png") no-repeat center;
}

.back-button{
    background-color: var(--color-main-wihite);
    border-color: var(--color-main-wihite);
    border-style: solid;
    font-size: 20px;
}

.continue-button{
    color: var(--color-main-wihite);
    background-color: var(--color-main-blue);
    min-width: 542px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    font-size: 20px;
}

.edit-wrapper-button{
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    height: fit-content;
}

.edit-button{
    width: 22px;
    height: 22px;
    background: url('../../img/edit.png') no-repeat center;
}

.radio-button{
    display: flex;
    gap: 10px;
}