@import'../../index.css';
.footer{
    max-width: 1920px;
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
    background: var(--color-main-wihite);
}

.inner-footer{
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-radius: 44px 44px 0px 0px;
    background: var(--color-main-violet);
    border-color: var(--color-main-violet);
}

.leftPart{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.logo{
    margin-top: 54px;
    margin-left: 100px;

    color: var(--color-main-wihite);
    font-family: Evolventa;
    font-size: 47.547px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    width:fit-content;
}

.mediaButtonDiv{
    margin-top: 10px;
    margin-left: 90px;
    width: 200;
    width:fit-content;
}

.copyRight{
    margin-top: 151px;
    margin-left: 100px;

    color: var(--color-main-wihite);

    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width:fit-content;
}

.mediaButton{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background: url("../../img/Facebook.png") no-repeat center var(--color-secondary-violet-graduation_2);
    border-style: solid;
    border-color: var(--color-secondary-violet-graduation_2);
}

.rightPart{
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.ref{
    margin-top: 54px;

    color: var(--color-main-wihite);
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: space-between;

}

.col{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
}

.col a{
    margin-top: 5px;
}

.req{
    display: flex;
    flex-direction: column;
}

.input{
    margin-top: 10px;

    display: flex;
    align-items: center;
    width:fit-content;
}

.ask{
    margin-top: 50px;

    color: var(--color-main-wihite);
    font-family: "SF Pro Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width:fit-content;
}

.info{
    margin-top: 33px;

    color: var(--color-main-wihite);
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

    width:fit-content;
}

.inputLine{
    width: 271px;
    height: 36px;
    border-radius: 30px;
    background: var(--color-secondary-white-searchline);
    border-style: solid;
    border-color:var(--color-secondary-white-searchline);
}

.inputButton{
    margin-left: 5px;
    background: url("../../img/arrow-right-blue.png") no-repeat center var(--color-main-wihite);
    width: 36px;
    height: 36px;
    border-radius: 30px;
    border-style: solid;
    border-color: var(--color-main-wihite);
}