@import'../../index.css';

.editable-block{
    border: solid 1px;
    border-color: var(--color-main-wihite) var(--color-main-wihite) var(--color-secondary-grey15) var(--color-main-wihite);
}

.editable-gray-block{
    padding: 20px;
    border-radius: 12px;
    background: var(--color-secondary-grey05);
    border: 1px var(--color-secondary-grey05);
}