@import'../../index.css';

.topic-photos{
    display: flex;
    gap: 20px;
}

.topic-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.photo{
    width: 157px;
    height: 156px;
}
