@import'../../index.css';

.topic-photos{
    display: flex;
    gap: 20px;
}

.topic-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.photo{
    width: 157px;
    height: 156px;
}

.round-profile-photo{
    width: 84px;
    height: 84px;
    flex-shrink: 0;
    border-radius: 84px;
}

.round-profile-photo img{
    width: 100%;
    height: 100%;
}