@import'../../index.css';

.profile-wrapper{
    margin: 101px;
    display: flex;
    gap: 200px;
    height: 100%;
    width: fit-content;
}

.navigation-profile-wrapper{
    width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    border: solid 1px; 
    border-color: var(--color-secondary-grey15) var(--color-main-wihite);
}

.go-back-to-origin{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile-info{
    margin-right: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}