@import'../../index.css';

.main-info-block{
    display: flex;
    gap: 15px;
    align-items: center;
    border: solid 1px; 
    border-color: var(--color-main-wihite) var(--color-main-wihite) var(--color-secondary-grey15) var(--color-main-wihite);
    padding-bottom: 15px;
}

.main-info-documents-block{
    display: flex;
    align-items: center;
    gap: 8px;
}

.outline-h{
    padding-bottom: 30px;
    border: solid 1px; 
    border-color: var(--color-main-wihite) var(--color-main-wihite) var(--color-secondary-grey15) var(--color-main-wihite);
}