.button-go-to{
    margin-top: 20px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 10px;
    border-radius: 60px;
    border: 1px solid var(--color-secondary-violet-dies);
    background: var(--color-secondary-violet-dies);
}

.button-go-to p{
    color: var(--color-main-blue);
    font-size: 18px;
}

.button-go-to button{
    width: 45px;
    height: 45px;
    border-radius: 60px;
    border: solid 1px var(--color-main-blue);
    background: url("../img/arrow-right.png") no-repeat center var(--color-main-blue);
}