@import'../../../index.css';
.chats-content{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 101px;
}
.opened-chat{
    position: relative;
    max-width: 862px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 30px;
}

.chat-head{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.chat-head img{
    width: 30px;
    height: 30px;
}

.chat-head-companion{
    display: flex;
    gap: 20px;
}

.chat-head-companion img{
    width: 90px;
    height: 90px;
    border-radius: 90px;
}

.chat-head-companion div{
    
}

.chat-my-message{
    padding: 15px;
    background: var(--color-secondary-violet-cards);
    border-radius: 12px 0px 12px 12px;
    border: 1px solid var(--color-secondary-violet-cards);
    max-width: 300px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 5px;
}

.chat-companion-message{
    padding: 15px;
    background: var(--color-secondary-violet-dies);
    border-radius: 0px 12px 12px 12px;
    border: 1px solid var(--color-secondary-violet-dies);
    max-width: 300px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 5px;
    max-width: 600px;
}

.chat-messages{
    height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid 1px;
    border-color: var(--color-secondary-grey15) var(--color-main-wihite) var(--color-main-wihite) 
                    var(--color-main-wihite);
}

.chat-input{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}